.section {
  &__line {
    padding: 106px 0px 108px 0px;
    @include lg {
      padding: 50px 0px 70px 0px;
    }
    @include sm {
      padding: 20px 0px 35px 0px;
    }
  }
}
.line {
  &__content {
    margin-bottom: 97px;
    @include lg {
      margin-bottom: 35px;
    }
  }
  &__info {
    padding: 64px 124px 0px 62px;
    @include lg {
      padding: 15px 15px 0px 15px;
    }

    @include md {
      padding: 15px 15px 15px 15px;
    }
  }

  &__items {
    display: flex;
    gap: 32px;
    @include lg {
      gap: 20px;
    }
    @include md {
      flex-wrap: wrap;
    }
  }

  &__item {
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07),
      0px 25px 35px rgba(22, 23, 72, 0.08);
    border-radius: 8px;
    @include md {
      width: 100%;
      text-align: center;
    }
    img {
      @media (max-width: 1100px) {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__icon {
    &:not(:last-child) {
      margin-bottom: 40px;
      @include md {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    font-size: 24px;
    line-height: 129%;
    color: #3a3a3c;
    &:not(:last-child) {
      margin-bottom: 32px;
      @include md {
        margin-bottom: 15px;
      }
    }
  }
}

.line-btn {
  display: inline-flex;
  align-items: center;
  padding: 15px 24px;
  gap: 8px;

  &:hover {
    svg {
      path {
        stroke: #ffff;
        transition: 0.3s ease;
      }
    }
  }
  @include xs {
    width: 100%;
    justify-content: center;
  }
}
