.section-work {
  padding: 127px 0px 44px 0px;
  @include lg {
    padding: 80px 0px 35px 0px;
  }
  @include sm {
    padding: 35px 0px 35px 0px;
  }
}
.work {
  &__body {
    margin: 100px 0px 70px 0px;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    @include lg {
      margin: 60px 0px 50px 0px;
    }
    @include sm {
      margin: 20px 0px 20px 0px;
      row-gap: 20px;
    }
  }
  &__items {
    padding: 35px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07),
      0px 17px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;
    @include lg {
      padding: 35px 35px;
    }
    @include sm {
      padding: 20px 15px;
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    @include sm {
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__item {
    display: flex;
  }

  &__btn {
    display: flex;
    justify-content: center;
    text-align: center;
    .btn-work {
      @include xs {
        width: 100%;
        
      }
    }
  }
  .text {
    &__title {
      @include sm {
        font-size: 41px;
      }
    }

  }
  .item {
    &__title {
      font-weight: 400;
      font-size: 28px;
      line-height: 96%;
      color: $secondary;
      &:not(:last-child) {
        margin-bottom: 25px;
        @include sm {
          text-align: center;
          margin-bottom: 15px;
        }
      }
      @include lg {
        font-size: 22px;
      }
    }

    &__info {
      display: flex;
    }

    &__icon {
      margin-right: 5px;
    }

    &__text {
      font-weight: 400;
      font-size: 20px;
      line-height: 135%;
      color: #8f90a6;
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
}
